---
import BlogTag from '@/components/BlogTag.astro'
import PostLink from '@/components/PostLink.astro'
import { getAllPosts, getAllTags } from '@/libs/notion/client'
import type { PageObjectResponse } from '@notionhq/client/build/src/api-endpoints'
import type { Page, PaginateFunction } from 'astro'
import Layout from 'src/layouts/Layout.astro'
import ArrowRight from '@/components/icons/ArrowRight.astro'
import ArrowLeft from '@/components/icons/ArrowLeft.astro'

const tags = await getAllTags()

export async function getStaticPaths({
  paginate
}: {
  paginate: PaginateFunction
}) {
  const allPosts = await getAllPosts()

  return paginate(allPosts, { pageSize: 10 })
}

type Props = {
  page: Page<PageObjectResponse>
}

const { page } = Astro.props
---

<Layout title='Blog'>
  <div class='flex gap-2 p-2'>
    {tags.map((tag) => <BlogTag tag={tag} chosenTags={[]} />)}
  </div>
  <div class='flex w-full flex-col gap-1'>
    {page.data.map((post) => <PostLink post={post} />)}
  </div>
  <div class='flex w-full items-center justify-center gap-4'>
    {
      page.url.prev ? (
        <a
          class='rounded-sm bg-secondary px-4 py-2 transition-all ease-out hover:-translate-y-0.5'
          href={page.url.prev}
        >
          <ArrowLeft />
        </a>
      ) : null
    }
    <div class='w-[200px] text-center'>
      Page {page.currentPage} of {page.lastPage}
    </div>
    {
      page.url.next ? (
        <a
          class='rounded-sm bg-secondary px-4 py-2 transition-all ease-out hover:-translate-y-0.5'
          href={page.url.next}
        >
          <ArrowRight />
        </a>
      ) : null
    }
  </div>
</Layout>
