---
import type { PageObjectResponse } from '@notionhq/client/build/src/api-endpoints'
import Tag from './Tag.astro'

type Props = {
  post: PageObjectResponse
}

const { post } = Astro.props

const slug =
  'rich_text' in post.properties.Slug
    ? post.properties.Slug.rich_text[0].plain_text
    : ''

const title =
  'title' in post.properties.Title && post.properties.Title.title[0]
    ? post.properties.Title.title[0].plain_text
    : ''

const date =
  'date' in post.properties.Date && post.properties.Date.date
    ? post.properties.Date.date.start
    : ''

const tags =
  'Tags' in post.properties && 'multi_select' in post.properties.Tags
    ? post.properties.Tags.multi_select
    : []
---

<a
  transition:name={`post-link-${post.id}`}
  class='group flex flex-col justify-between rounded-xl border border-transparent bg-secondary/20 p-4 transition-all duration-300 hover:-translate-y-1 hover:border-primary/20 hover:bg-secondary/40 hover:shadow-lg'
  href={`/blog/post/${slug}`}
>
  <div class='mb-4'>
    <div
      class='text-2xl font-bold tracking-tight text-primary transition-colors group-hover:text-primary/80'
      transition:name={`post-${post.id}`}
    >
      {title}
    </div>
  </div>

  <div class='flex items-end justify-between'>
    <div class='flex flex-wrap gap-2'>
      {tags.map((tag) => <Tag tag={tag} />)}
    </div>
    <div class='text-sm text-default/60'>
      {date}
    </div>
  </div>
</a>
